* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

a,
button {
    text-decoration: none;
    cursor: pointer;
}

.header-top {
    display: flex;
}

.header-top-container {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding: 30px 0;
}

.logo {
    margin-right: 70px;
}

.header-right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.search {
    width: 100%;

}

.header-search {
    border: 2px solid #BCE3C9;
    border-radius: 4px;
    max-width: 700px;
    background-color: #fff;
    display: flex;
    position: relative;
    width: 100%;
}

.form-element {
    display: flex;
    color: #253D4E;
    font-size: 14px;
    font-weight: 700;
    min-height: 50px;
    border: 1px solid #ececec;
    border-right: none;
    width: 190px;
    padding: 3px 35px 3px 20px;
    border-radius: 4px 0 0 4px;
    background-color: #fff;
    transition: all .3s ease 0s;
}

*:focus {
    outline: none;
}

option {
    height: 50px;
    line-height: 50px;
    position: relative;
    font-size: 14px;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    color: #253D4E;
}

.search-input {
    max-width: 600px;
    border-width: 0px;
    border-radius: 0 5px 5px 0;
    margin-left: 20px;
    background-color: #fff;
    border: none;
}

.header-elements {
    gap: 10px;
    display: flex;
}


.icon-count {
    color: #333;
    line-height: 1;
    position: relative;
}


.count {
    background-color: #3BB77E;
    position: absolute;
    color: #ffffff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
}

.text {
    color: #7E7E7E;
    font-size: 16px;
    margin: 5px 0 0 10px;
}

.header-bottom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #f4eeee;
    border-bottom: 1px solid #f4eeee;
    margin: 0 10px;

}


.btn-link {
    position: relative;
    margin-right: 35px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 11px 20px;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    background-color: #3BB77E;
    color: #fff;
}

.btn-icon {
    padding-right: 5px;
    width: 22px;

}

.categories {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.nav {
    font-family: "Quicksand", sans-serif;
    color: #253D4E;
    font-weight: 700;
    line-height: 1.2;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.navbar-element {
    line-height: 70px;
    padding-right: 35px;
}

.link-element:hover {
    color: #3BB77E;
}

.navbar-icon {
    position: relative;
    margin-bottom: -4px;
    margin-right: 8px;
}

.link-element {
    transition: 0.3s;
    font-size: 16px;
    font-weight: 700;
    color: #253D4E;
    font-family: "Quicksand", sans-serif;
}

.support {
    display: flex;
}

.support-icon {
    min-width: 35px;
    margin-right: 12px;
}

.number {
    color: #3BB77E;
    font-size: 26px;
    font-weight: 700;
    font-family: "Quicksand", sans-serif;
    display: block;
    line-height: 1;
}

.time {
    font-weight: 500;
    font-size: 12px;
    font-family: "Lato", sans-serif;
    color: #7E7E7E;
    display: block;
    letter-spacing: 0.9px;
}

/* Featured */

#featured {
    padding: 25px 0;
}


.section-title {
    display: flex;
    align-items: end;
    margin-bottom: 44px;
    position: relative;
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: flex-end;
}

.title-h {
    margin-left: 10px;
    font-weight: 700;
    font-size: 32px;
    margin-right: 30px;

}

.list {
    border: 0;
    margin-bottom: 4px;
    display: flex;
    list-style: none;
}


#product-elements {
    display: flex;
}

.nav-link {
    margin-right: 0.5rem;
    padding: 0 10px;
    background: none;
    font-size: 16px;
    color: #253D4E;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    line-height: 1;
    transition: 0.2s;
    margin: 0 10px;
}

.nav-link:hover {
    color: #3BB77E;
}

.element {
    width: 120px;
    position: relative;
    text-align: center;
    border: 1px solid #F4F6FA;
    border-radius: 10px;
    padding: 20px 0px 18px 0px;
    margin-bottom: 20px;
    min-height: 180px;
    transition: 0.2s;
    margin-right: 12px;
    margin-left: 12px;
}

.element:nth-child(1) {
    background-color: rgb(229, 251, 229);
}

.element:nth-child(2) {
    background-color: rgb(240, 247, 223);
}

.element:nth-child(3) {
    background-color: rgb(218, 255, 246);
}

.element:nth-child(4) {
    background-color: rgb(247, 235, 218);
}

.element:nth-child(5) {
    background-color: rgb(245, 245, 247);
}

.element:nth-child(6) {
    background-color: rgb(245, 251, 229);
}

.element:nth-child(7) {
    background-color: rgb(236, 245, 253);
}

.element:nth-child(8) {
    background-color: rgb(253, 243, 253);
}

.element:nth-child(9) {
    background-color: rgb(243, 242, 229);
}

.element:nth-child(10) {
    background-color: rgb(231, 252, 255);
}

.element-title {
    font-family: "Quicksand", sans-serif;
    color: #253D4E;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    transition: all .3s ease 0s;
}

.element-description {
    transition: all .3s ease 0s;
    color: #7E7E7E;
}


.featured-bottom-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.featured-img {
    margin: 50px 0px 50px 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    width: 33.3333333333%;
    position: relative;
}

.photo {
    border-radius: 10px;
    width: 450px;
    height: 270px;
}

.featured-text {
    position: absolute;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    padding: 0 50px;
}

.featured-heading {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
    min-height: 100px;
}

.featured-btn {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 8px 7px 12px;
    font-size: 12px;
    text-transform: none;
    line-height: 1.3;
    border-radius: 4px;
    color: #fff;
    border: 1px solid transparent;
    background-color: #3BB77E;
    transition: all 300ms linear 0s;
    letter-spacing: 0.5px;
}

.featured-icon {
    width: 20px;
}

/* Products */

#products {
    margin-left: 14px;
}

.products-top {
    display: flex;
    align-items: end;
    margin-bottom: 44px;
    position: relative;
    justify-content: space-between;
}

.text-heading {
    color: #253D4E;
    font-weight: 700;
    font-size: 32px;
    margin-right: 30px;
}


.products-nav-link {
    display: flex;
    list-style: none;
}


.btn-link {

    padding: 0 10px;
    background: none;
    font-size: 16px;
    transition: 0.2s;
    border: 0;
    border-radius: 4px;
    font-family: "Quicksand", sans-serif;
    line-height: 1;
}

#product-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}

.product-element:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
    border: 1px solid #BCE3C9;
    transition: 0.6s;
}

.product-element {
    position: relative;
    background-color: #fff;
    border: 1px solid #ececec;
    border-radius: 15px;
    overflow: hidden;
    transition: .2s;
    width: 90%;
    padding: 0 20px 20px 20px;
}

.product-image {
    width: 214px;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    max-height: 320px;
    padding: 25px 25px 0 25px;
}

.img-span {
    position: relative;
}

.badges {
    position: absolute;
    top: 0px;
    left: -20px;
    background-color: #f74b81;
    font-size: 12px;
    line-height: 1;
    border-radius: 15px 0 20px 0;
    color: #fff;
    padding: 9px 20px 10px 20px;
}

.category {
    color: #adadad;
    font-size: 12px;
    margin-bottom: 5px;
}

.product-t {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    font-family: "Quicksand", sans-serif;
    color: #253D4E;
    line-height: 1.2;
}

.product-element-title {
    transition: all .3s ease 0s;
}

.brand {
    color: #B6B6B6;
}

.link-food {
    color: #3BB77E;
}

.price-add {
    display: flex;
    justify-content: space-around;
    align-items: baseline;

}

.prices {
    margin-top: 15px;
    padding-top: 5px;
    font-family: "Quicksand", sans-serif;
}

.product-element-price {
    font-size: 18px;
    font-weight: bold;
    color: #3BB77E;
}

.old-price {
    font-size: 14px;
    color: #adadad;
    margin: 0 0 0 7px;
    text-decoration: line-through;
    transition: all .3s ease 0s;
}

.add {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 6px;
    color: #3BB77E;
    position: relative;
    padding: 6px 10px 6px 10px;
    border-radius: 4px;
    background-color: #DEF9EC;
    font-size: 14px;
    font-weight: 700;
}

.product-svg {
    width: 18px;
}